@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Css add for the based on need. */
  .text-maroon {
    @apply text-[#B11E54];
  }

  .title {
    @apply text-balance pb-4 text-center text-3xl font-bold md:text-[39px] lg:text-4xl text-black;
  }

  .title-no {
    @apply text-balance pb-4 text-center text-3xl font-bold md:text-[39px] lg:text-4xl;
  }

  .p-fit {
    @apply px-4 md:px-2 lg:px-0;
  }

  .test {
    @apply md:ring-2 md:ring-red-500 lg:ring-4 lg:ring-green-500 xl:ring-4 xl:ring-blue-600 2xl:ring-yellow-600;
  }

  .secGap {
    @apply my-12 md:my-16 xl:my-20;
  }

  .secGap_one {
    @apply mt-14;
  }

  .color-green {
    @apply bg-[#6fb1c8];
  }

.footer_cls {
  width: 100vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0!important;
}
.custom {
  background: linear-gradient(0deg, #6fb1c8 0%, #4a88a6 100%);
}
.custom_btn{
  .button {
    background-color: #28a745; 
    color: white;             
    border: none;            
    padding: 10px 20px;       
    border-radius: 5px;       
    font-size: 16px;           
    cursor: pointer;           
  }
  
  .button:hover {
    background-color: #218838; 
  }
  
}

.notifybutton {
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.notifybutton.clicked {
  animation: clickEffect 0.5s ease-in-out;
}

@keyframes clickEffect {
  0% {
    transform: scale(1);
    background-color: #3b82f6;
  }
  50% {
    transform: scale(1.1);
    background-color: #1d4ed8;
  }
  100% {
    transform: scale(1);
    background-color: #3b82f6;
  }
}
.product-card {
  transition: transform 0.2s ease-in-out; 
}

.product-card:hover {
  animation: upDown 2s ease-in-out; 
}

@keyframes upDown {
  0%, 100% {
    transform: translateY(0); }
  50% {
    transform: translateY(-30px); 
  }
}
.red-line-through {
  position: relative;
  color: #4a5568;
}

.red-line-through::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  width:100%;
  background-color: #ec4a4a; 
  transform: translateY(-50%);
}
